#p{
    height: 200px;
    width: 200px;
    background-color: yellowgreen;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#c{
    height: 100px;
    width: 50%;
    background-color: red;
    margin-left: 50%;
    font-size: 0.5em;
}
#pp{
    font-size: 2rem;
}