div {
    width: 100px;
    height: 100px;
    margin: 25PX;
    padding: 25PX;
    background-color: blueviolet;
    display: inline-block;
}

#p {
    /* hide but take space */
    visibility: hidden;
    /* Hide but didnt take space as well */
    display: none;
}

#box1{
    background-color: rgba(255,0,0,0.1);
}

#box2{
    background-color: rgba(255,0,0,0.5);
}

#box3{
    background-color: rgba(255,0,0,1);
}